<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.taste.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.project.taste.model.User">
        <constructor>
            <idArg column="USER_ID" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="USER_NAME" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="USER_TELPHONE" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="USER_EMAIL" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="USER_PASSWORD" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="USER_HEADURL" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="USER_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="USER_RANK" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="USER_STATUS" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <resultMap id="BaseResultMap1" type="com.project.taste.bo.Attention_User">
        <constructor>
            <idArg column="USER_ID" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="USER_NAME" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="USER_TELPHONE" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="USER_EMAIL" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="USER_HEADURL" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="USER_RANK" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>

    <resultMap id="BaseResultMap2" type="com.project.taste.vo.DateVo">
        <constructor>
            <arg column="dates" jdbcType="DATE" javaType="java.util.Date"/>
            <arg column="num" jdbcType="INTEGER" javaType="java.lang.Integer"/>
        </constructor>
    </resultMap>
    <sql id="Base_Column_List">
    USER_ID, USER_NAME, USER_TELPHONE, USER_EMAIL, USER_PASSWORD, USER_HEADURL, USER_TIME,
    USER_RANK, USER_STATUS
  </sql>
    <!--查询所有用户-->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        order by USER_TIME DESC
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user
        where USER_ID = #{userId,jdbcType=VARCHAR}
    </select>

    <!--用户登入-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.project.taste.model.User">
        select
        <include refid="Base_Column_List"/>
        from user
        where USER_NAME= #{userName,jdbcType=VARCHAR}
        and USER_PASSWORD= #{userPassword,jdbcType=VARCHAR}
        and USER_STATUS=0

        or USER_TELPHONE= #{userName,jdbcType=VARCHAR}
        and USER_PASSWORD= #{userPassword,jdbcType=VARCHAR}
        and USER_STATUS=0

        or USER_EMAIL= #{userName,jdbcType=VARCHAR}
        and USER_PASSWORD= #{userPassword,jdbcType=VARCHAR}
        and USER_STATUS=0
    </select>

    <!--根据电话判断用户是否存在-->
    <select id="selectByPrimaryKey1" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user
        where USER_TELPHONE= #{userTelephone,jdbcType=VARCHAR}
        and USER_STATUS=0
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>

    <!--查询用户数量-->
    <select id="querynum" resultType="java.lang.Integer" parameterType="java.lang.String">
    select count(*)  from user where USER_STATUS=0
  </select>


    <!--根据用户id查询用户详情-->
    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from user
        where USER_ID= #{userId,jdbcType=VARCHAR}
    </select>

    <!--注册用户-->
    <insert id="insert" parameterType="com.project.taste.model.User">
    insert into user (USER_ID, USER_NAME, USER_TELPHONE,
      USER_EMAIL, USER_PASSWORD, USER_HEADURL,
      USER_TIME, USER_RANK, USER_STATUS
      )
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userTelphone,jdbcType=VARCHAR},
      #{userEmail,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, #{userHeadurl,jdbcType=VARCHAR},
      #{userTime,jdbcType=TIMESTAMP}, #{userRank,jdbcType=INTEGER}, #{userStatus,jdbcType=INTEGER}
      )
  </insert>

    <!--根据条件查询-->
    <select id="queryAlltiaojian" parameterType="com.project.taste.model.User" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        <where>
            <if test="userName!=null and userName!=''">
                or USER_NAME = #{userName,jdbcType=VARCHAR}
            </if>

            <if test="userName!=null and userTelphone!=''">
                or USER_TELPHONE = #{userName,jdbcType=VARCHAR}
            </if>

            <if test="userName!=null and userEmail!=''">
                or USER_EMAIL = #{userName,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!-- 模糊搜索 -->
    <select id="queryAlltiaojian2" parameterType="com.project.taste.model.User" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        <where>
            <if test="userName!=null and userName!=''">
                or POSITION(#{userName,jdbcType=VARCHAR} IN `USER_NAME`)
            </if>

            <if test="userName!=null and userTelphone!=''">
                or POSITION(#{userName,jdbcType=VARCHAR} IN `USER_TELPHONE`)
            </if>

            <if test="userName!=null and userEmail!=''">
                or POSITION(#{userName,jdbcType=VARCHAR} IN `USER_EMAIL`)
            </if>
        </where>
    </select>

    <!--禁封或恢复用户-->
    <update id="updateByStatus" parameterType="com.project.taste.model.User">
    update user
    set USER_STATUS=#{userStatus,jdbcType=INTEGER}
    WHERE
    USER_ID=#{userId,jdbcType=VARCHAR}
  </update>

    <!--根据用户Id查询所有关注-->
    <select id="attention" resultMap="BaseResultMap1" parameterType="java.lang.String">
       select
      ss2.USER_ID,ss2.USER_NAME,ss2.USER_EMAIL,ss2.USER_HEADURL,ss2.USER_TELPHONE,ss2.USER_RANK
      FROM user s LEFT JOIN attention s1 on
      s.USER_ID=s1.ATTENTION_USER_ID
      LEFT JOIN  user  ss2  on
      s1.ATTENTION_TOUSER_ID=ss2.USER_ID
     where s1.ATTENTION_USER_ID= #{userId,jdbcType=VARCHAR}
    </select>

    <!--根据用户Id查询所有粉丝-->
    <select id="attention1" resultMap="BaseResultMap1" parameterType="java.lang.String">
       select
      ss2.USER_ID,ss2.USER_NAME,ss2.USER_EMAIL,ss2.USER_HEADURL,ss2.USER_TELPHONE,ss2.USER_RANK
      FROM user s LEFT JOIN attention s1 on
      s.USER_ID=s1.ATTENTION_USER_ID
      LEFT JOIN  user  ss2  on
      s1.ATTENTION_USER_ID=ss2.USER_ID
     where s1.ATTENTION_TOUSER_ID= #{userId,jdbcType=VARCHAR}
    </select>
    <!--根据注册时间查用户数量-->
    <select id="selectNumByTime" resultMap="BaseResultMap2">
    SELECT
	DATE_FORMAT( USER_TIME, '%Y-%m-%d' ) AS dates,
	COUNT(USER_ID) num
FROM
	user
GROUP BY
	dates
	order by dates asc
    </select>
    <!--根据手机号注册用户-->
    <insert id="insertSelective" parameterType="com.project.taste.model.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="userName != null">
                USER_NAME,
            </if>
            <if test="userTelphone != null">
                USER_TELPHONE,
            </if>
            <if test="userEmail != null">
                USER_EMAIL,
            </if>
            <if test="userPassword != null">
                USER_PASSWORD,
            </if>
            <if test="userHeadurl != null">
                USER_HEADURL,
            </if>
            <if test="userTime != null">
                USER_TIME,
            </if>
            <if test="userRank != null">
                USER_RANK,
            </if>
            <if test="userStatus != null">
                USER_STATUS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userTelphone != null">
                #{userTelphone,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null">
                #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="userHeadurl != null">
                #{userHeadurl,jdbcType=VARCHAR},
            </if>
            <if test="userTime != null">
                #{userTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userRank != null">
                #{userRank,jdbcType=INTEGER},
            </if>
            <if test="userStatus != null">
                #{userStatus,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.project.taste.model.User">
        update user
        <set>
            <if test="userName != null">
                USER_NAME = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userTelphone != null">
                USER_TELPHONE = #{userTelphone,jdbcType=VARCHAR},
            </if>
            <if test="userEmail != null">
                USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null">
                USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
            </if>
            <if test="userHeadurl != null">
                USER_HEADURL = #{userHeadurl,jdbcType=VARCHAR},
            </if>
            <if test="userTime != null">
                USER_TIME = #{userTime,jdbcType=TIMESTAMP},
            </if>
            <if test="userRank != null">
                USER_RANK = #{userRank,jdbcType=INTEGER},
            </if>
            <if test="userStatus != null">
                USER_STATUS = #{userStatus,jdbcType=INTEGER},
            </if>
        </set>
        where USER_ID = #{userId,jdbcType=VARCHAR}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.project.taste.model.User">
    update user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_TELPHONE = #{userTelphone,jdbcType=VARCHAR},
      USER_EMAIL = #{userEmail,jdbcType=VARCHAR},
      USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      USER_HEADURL = #{userHeadurl,jdbcType=VARCHAR},
      USER_TIME = #{userTime,jdbcType=TIMESTAMP},
      USER_RANK = #{userRank,jdbcType=INTEGER},
      USER_STATUS = #{userStatus,jdbcType=INTEGER}
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>