<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.taste.mapper.VideoMapper" >
  <resultMap id="BaseResultMap" type="com.project.taste.model.Video" >
    <constructor >
      <idArg column="VIDEO_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="VIDEO_USER_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="VIDEO_URL" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="VIDEO_TITLE" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="VIDEO__CONTENT" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="VIDEO_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="VIDEO_STATUS" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="VIDEO_CATEGORY_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="BaseResultMap2" type="com.project.taste.vo.DateVo">
    <constructor>
      <arg column="dates" jdbcType="DATE" javaType="java.util.Date"/>
      <arg column="num" jdbcType="INTEGER" javaType="java.lang.Integer"/>
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    VIDEO_ID, VIDEO_USER_ID, VIDEO_URL, VIDEO_TITLE, VIDEO__CONTENT, VIDEO_TIME, VIDEO_STATUS, VIDEO_CATEGORY_ID
  </sql>

  <!--根据类别查视频-->
  <select id="selectAllByCategoryId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from video
    where VIDEO_CATEGORY_ID = #{videoCategoryId,jdbcType=VARCHAR}
  </select>

  <!--查询所有视频-->
  <select id="queryVideoAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from video where VIDEO_STATUS=0
  </select>

  <!--根据用户ID查询该用户上传的视频数量-->
  <select id="queryVideoNum" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(*)
                  from video
                  where VIDEO_STATUS=0
                  and VIDEO_USER_ID=#{videoUserId,jdbcType=VARCHAR}
  </select>

  <!--根据视频ID查询视频详情-->
  <select id="queryVideoById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from video
    where VIDEO_ID=#{videoId,jdbcType=VARCHAR} and VIDEO_STATUS=0
  </select>

  <!--根据用户id查询用户上传所有视频-->
  <select id="queryVideoAllByid" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from video
    where VIDEO_USER_ID=#{videoUserId,jdbcType=VARCHAR} and VIDEO_STATUS=0
  </select>
  <!--根据视频标题查询视频-->
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from video
    where VIDEO_TITLE = #{videoTitle,jdbcType=VARCHAR}
  </select>
  <!--查询视频数量-->
  <select id="selectVideoNum" resultType="java.lang.Integer">
    select count(VIDEO_ID)
    from video
    where VIDEO_STATUS=0
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from video
    where VIDEO_ID = #{videoId,jdbcType=VARCHAR}
  </delete>


  <!--添加视频-->
  <insert id="insert" parameterType="com.project.taste.model.Video" >
    insert into video (VIDEO_ID, VIDEO_USER_ID, VIDEO_URL,
      VIDEO_TITLE, VIDEO__CONTENT, VIDEO_TIME,
      VIDEO_STATUS,VIDEO_CATEGORY_ID)
    values (#{videoId,jdbcType=VARCHAR}, #{videoUserId,jdbcType=VARCHAR}, #{videoUrl,jdbcType=VARCHAR},
      #{videoTitle,jdbcType=VARCHAR}, #{videoContent,jdbcType=VARCHAR}, #{videoTime,jdbcType=TIMESTAMP},
      #{videoStatus,jdbcType=INTEGER},#{videoCategoryId,jdbcType=VARCHAR})
  </insert>

  <!--根据日期查文章数量-->
  <select id="selectNumByTime" resultMap="BaseResultMap2">
    SELECT
	DATE_FORMAT( VIDEO_TIME, '%Y-%m-%d' ) AS dates,
	COUNT(VIDEO_ID) num
FROM
	video
GROUP BY
	dates
	order by dates asc
    </select>



  <insert id="insertSelective" parameterType="com.project.taste.model.Video" >
    insert into video
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="videoId != null">
        VIDEO_ID,
      </if>
      <if test="videoUserId != null" >
        VIDEO_USER_ID,
      </if>
      <if test="videoUrl != null" >
        VIDEO_URL,
      </if>
      <if test="videoTitle != null" >
        VIDEO_TITLE,
      </if>
      <if test="videoContent != null" >
        VIDEO__CONTENT,
      </if>
      <if test="videoTime != null" >
        VIDEO_TIME,
      </if>
      <if test="videoStatus != null" >
        VIDEO_STATUS,
      </if>
      <if test="videoCategoryId != null">
        VIDEO_CATEGORY_ID
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="videoId != null" >
        #{videoId,jdbcType=VARCHAR},
      </if>
      <if test="videoUserId != null" >
        #{videoUserId,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null" >
        #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoTitle != null" >
        #{videoTitle,jdbcType=VARCHAR},
      </if>
      <if test="videoContent != null" >
        #{videoContent,jdbcType=VARCHAR},
      </if>
      <if test="videoTime != null" >
        #{videoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="videoStatus != null" >
        #{videoStatus,jdbcType=INTEGER},
      </if>
      <if test="videoCategoryId != null">
        #{videoCategoryId,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.project.taste.model.Video" >
    update video
    <set >
      <if test="videoUserId != null" >
        VIDEO_USER_ID = #{videoUserId,jdbcType=VARCHAR},
      </if>
      <if test="videoUrl != null" >
        VIDEO_URL = #{videoUrl,jdbcType=VARCHAR},
      </if>
      <if test="videoTitle != null" >
        VIDEO_TITLE = #{videoTitle,jdbcType=VARCHAR},
      </if>
      <if test="videoContent != null" >
        VIDEO__CONTENT = #{videoContent,jdbcType=VARCHAR},
      </if>
      <if test="videoTime != null" >
        VIDEO_TIME = #{videoTime,jdbcType=TIMESTAMP},
      </if>
      <if test="videoStatus != null" >
        VIDEO_STATUS = #{videoStatus,jdbcType=INTEGER},
      </if>
      <if test="videoCategoryId != null">
        VIDEO_CATEGORY_ID = #{videoCategoryId,jdbcType=VARCHAR}
      </if>
    </set>
    where VIDEO_ID = #{videoId,jdbcType=VARCHAR}
  </update>


  <!--删除视频-->
  <update id="updateByPrimaryKey" parameterType="com.project.taste.model.Video" >
    update video
    set
      VIDEO_STATUS =1
    where VIDEO_ID = #{videoId,jdbcType=VARCHAR}
  </update>


</mapper>