<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.taste.mapper.VideoCollectMapper" >
  <resultMap id="BaseResultMap" type="com.project.taste.model.VideoCollect" >
    <constructor >
      <idArg column="VIDEO_COLLECT_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="VIDEO_COLLECT_VIDEO_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="VIDEO_COLLECT_USER_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="VIDEO_COLLECT_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    VIDEO_COLLECT_ID, VIDEO_COLLECT_VIDEO_ID, VIDEO_COLLECT_USER_ID, VIDEO_COLLECT_TIME
  </sql>
<!--根据用户ID查询收藏的视频-->
  <select id="selectByUserId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select *
      from video_collect
      where VIDEO_COLLECT_USER_ID = #{videoCollectUserId,jdbcType=VARCHAR}
  </select>
  <!--  添加视频收藏-->
  <insert id="insertVideoCollect" parameterType="com.project.taste.model.VideoCollect" >
    insert into video_collect (VIDEO_COLLECT_ID, VIDEO_COLLECT_VIDEO_ID,
      VIDEO_COLLECT_USER_ID, VIDEO_COLLECT_TIME)
    values (#{videoCollectId,jdbcType=VARCHAR}, #{videoCollectVideoId,jdbcType=VARCHAR},
      #{videoCollectUserId,jdbcType=VARCHAR}, #{videoCollectTime,jdbcType=TIMESTAMP})
  </insert>
  <!--  根据视频ID查收藏数量-->
  <select id="selectVideoCount" parameterType="java.lang.String" resultType="int">
    SELECT COUNT(VIDEO_COLLECT_VIDEO_ID)
    FROM video_collect
    WHERE VIDEO_COLLECT_VIDEO_ID=#{videoCollectVideoId,jdbcType=VARCHAR}
  </select>
  <!--删除视频收藏-->
  <delete id="deleteVideoCollect" parameterType="java.lang.String">
    delete from video_collect
    where VIDEO_COLLECT_ID=#{videoCollectId,jdbcType=VARCHAR}
  </delete>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from video_collect
    where VIDEO_COLLECT_ID = #{videoCollectId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from video_collect
    where VIDEO_COLLECT_ID = #{videoCollectId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.project.taste.model.VideoCollect" >
    insert into video_collect (VIDEO_COLLECT_ID, VIDEO_COLLECT_VIDEO_ID,
      VIDEO_COLLECT_USER_ID, VIDEO_COLLECT_TIME)
    values (#{videoCollectId,jdbcType=VARCHAR}, #{videoCollectVideoId,jdbcType=VARCHAR},
      #{videoCollectUserId,jdbcType=VARCHAR}, #{videoCollectTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.project.taste.model.VideoCollect" >
    insert into video_collect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="videoCollectId != null" >
        VIDEO_COLLECT_ID,
      </if>
      <if test="videoCollectVideoId != null" >
        VIDEO_COLLECT_VIDEO_ID,
      </if>
      <if test="videoCollectUserId != null" >
        VIDEO_COLLECT_USER_ID,
      </if>
      <if test="videoCollectTime != null" >
        VIDEO_COLLECT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="videoCollectId != null" >
        #{videoCollectId,jdbcType=VARCHAR},
      </if>
      <if test="videoCollectVideoId != null" >
        #{videoCollectVideoId,jdbcType=VARCHAR},
      </if>
      <if test="videoCollectUserId != null" >
        #{videoCollectUserId,jdbcType=VARCHAR},
      </if>
      <if test="videoCollectTime != null" >
        #{videoCollectTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.project.taste.model.VideoCollect" >
    update video_collect
    <set >
      <if test="videoCollectVideoId != null" >
        VIDEO_COLLECT_VIDEO_ID = #{videoCollectVideoId,jdbcType=VARCHAR},
      </if>
      <if test="videoCollectUserId != null" >
        VIDEO_COLLECT_USER_ID = #{videoCollectUserId,jdbcType=VARCHAR},
      </if>
      <if test="videoCollectTime != null" >
        VIDEO_COLLECT_TIME = #{videoCollectTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where VIDEO_COLLECT_ID = #{videoCollectId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.project.taste.model.VideoCollect" >
    update video_collect
    set VIDEO_COLLECT_VIDEO_ID = #{videoCollectVideoId,jdbcType=VARCHAR},
      VIDEO_COLLECT_USER_ID = #{videoCollectUserId,jdbcType=VARCHAR},
      VIDEO_COLLECT_TIME = #{videoCollectTime,jdbcType=TIMESTAMP}
    where VIDEO_COLLECT_ID = #{videoCollectId,jdbcType=VARCHAR}
  </update>
</mapper>